.shards-landing-page--1 .welcome {
  background-size: 100%;
  background: #020A23;
}

.navbar-dark {
  background-color: #020A23;
}

.sponsors {
  max-height: 30mm;
  max-width: 65mm;
  width: 100%;
  height: auto;
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  height:auto;
  z-index: 100;
}

.action {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

body {
  min-height: 100vh;
}

.img-center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.navbar-brand {
  width: 100px;
  height: 50px;
}

.jumbotron-fluid {
  /* color: white; */
  /* background: linear-gradient(182deg, #ff6f59, #ff6b6b); */
  background-size: 100% 100%;
  height: 41em;
  border: 1px solid #eeeeee;
  background-repeat: no-repeat;
}

.container-fluid {
  text-align: center;
}

.splash_text {
  color: white;
}

#join_container {
  padding-left: 10rem;
}

.shards-landing-page--1 .welcome:before {
  background-color: transparent;
  background-size: 100% 100%;
}

.shards-landing-page--1 .section {
  border-bottom: 1px solid transparent;
}
