.shards-landing-page--1 .welcome {
  background: #020A23;
}

html, body{
  padding-top: 40px;
  font-family: poppins;
  overflow-x: hidden;
}

.page{
  min-height: 100vh;
}



@media (max-width: 767px) {
  .navbar-fixed-top {
      position: relative;
      top: auto;
  }
  .navbar-collapse {
      max-height: none;
  }
  body {
      margin: 0;
  }
}


.navbar-dark {
  background-color: #020A23;
}


#navbarNavDropdown{
  transform: translateX(-3%)
}

#navbarNavDropdown li::after{
  content:'';
  width:0;
  display:block;
  height:2px;
  background:#ffffff;
  transition: width .5s;
}


#navbarNavDropdown li:hover::after{
  width:100%;
  transition: width .5s;
}

.dropdown-menu{
  background-color: #020A23;
}
.sponsors {
  max-height: 115px;
  max-width: 250px;
  width: auto;
  height: auto;
  object-fit: contain;
}

i{
  color:#ffffff
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 800px;
  height:auto;
  z-index: 100;
}

.action {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}


.img-center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}


.jumbotron-fluid {
  /* color: white; */
  /* background: linear-gradient(182deg, #ff6f59, #ff6b6b); */
  background-size: 100% 100%;
  height: 41em;
  border: 1px solid #eeeeee;
  background-repeat: no-repeat;
}

.container-fluid {
  text-align: center;
}

.splash_text {
  color: white;
}

#join_container {
  padding-left: 10rem;
}

.shards-landing-page--1 .welcome:before {
  background-color: transparent;
  background-size: 100% 100%;
}

.shards-landing-page--1 .section {
  border-bottom: 1px solid transparent;
}


.contact-form {
  max-width:50%;
  margin: 2rem auto;
}

.contact-form input,textarea {
  display:block;
  width:100%;
  margin:30px;
  padding-left:5px;
}


.dark {
  background: #020A23;
}

.dark > h3{
  color:#ffffff;
}

.white {
  background:#ffffff;

}


.icon {
  text-decoration: none;
  position: relative;
  text-decoration: none;
}

  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
  }

  .icon > .label {
    display: none;
  }

  .icon:before {
    line-height: inherit;
  }

  .icon.solid:before {
    font-weight: 900;
  }

  .icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
  }

  .icon.major {
    text-align: center;
    cursor: default;
    background-color: #7783F4;
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    width: 5em;
    height: 5em;
    line-height: 5em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    margin: 0 0 2em 0;
  }

    .icon.major:before {
      font-size: 36px;
    }





#head > header {
  padding: 12em 0 10em 0 ;
  background-image: linear-gradient(#020A23, #020A23);
  background-image: -webkit-linear-gradient(top,#020A23, #020A23);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

  #head > header h1 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
    color:#ffffff;
    letter-spacing: 0.2em;
    text-align: center;
    font-weight: 800;
  }

#main-sponsors h3 {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
    text-align: center;
    font-weight: 800;
}


hr{
  border-width: 2px;
  color:#000000;
  margin-top: 2em;
  margin-bottom: 2em;


}



.team-section {
  text-align:center;
}

.team-section h1 {
  font-size:30px;
  display:inline-block;
  border-bottom: 3px solid;
  padding-bottom: 10px;
  padding-top:40px;

}
.pe {
  margin-bottom:80px;
}
.pe img {
  width:120px;
  height:120px;
}

.p-name {
  margin:16px;
}

.p-role {
  font-style:italic;
  color:#3498db;

}


.about-cissa {
  margin-left: 50px;

}


.cissa-intro {
  line-height:1.8;
}



.sign-up {
  font-weight: 800;
  font-size:30px;
  color:#000000;
}


.sign-up-btn {
  transition: 0.4s;
  background:#ffffff;
  color:#000000;
  font-weight: 600;


}

.sign-up-btn:hover{
  background: #020A23;
}



* {
  box-sizing: border-box;
}


.gallery-section a {
  padding:5px;
}

.gallery-section img{
  width:100%;
  height: auto;
}

.img-about{
  width:75%;
}



.gallery-image {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image img {
  height: 250px;
  width: 350px;
  transform: scale(1.0);
  transition: transform 0.4s ease;
}

.img-box {
  margin: 10px;
  height: 250px;
  width: 350px;
  display: inline-block;
}

.img-box:hover img {
  transform: scale(1.01);
  opacity: 0.9;
  transition:0.8s;
}

.img-box:hover {
  cursor: pointer;
}


.event-page .event-img img {
  width:50%;
}

.event-page .event-descr {
  width:75%;
  text-align: center;
  margin: 0 auto;
}

.signup-prompt {
  font-size:16px;
  line-height:1.8;
}

#vert-line {
  border-left: 4px solid white;
  height: 100px;
}

.footer img {
  width:auto;
  height:50px;
  margin:10px;
}

@media only screen and (max-width: 768px) {
  #vert-line {
    display: none;
  }
  .signup {
    width:50%;
  }
  .events-inner{
    margin-bottom:50px;
  }
  .event{
    width:75%;
  }
  .cards{
    width:75%;
  }
  .about-cissa{
    margin-right:50px;
  }
  .img-about{
    width:100%;
  }
  .event-img{
    width:100%;
  }
}

